services:
  backend:
    build: ./backend
    container_name: nxt-backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ./forntend
    container_name: nxt-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:5173"

  db:
    image: mongo:6
    container_name: nxt-db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: